.product-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    
    flex-wrap: wrap;
    max-width: 800px;
}

.product-item {
    border-style: solid;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin: 10px;
    background-color: azure;
    box-shadow: inset;

}
.image {
    height: 200px;
    width: 300px;
    border-radius: 42px;
    border-style: hidden;
    box-shadow: inset;
    /* transition: 0.3ms;
    position: relative; */
}
.button {
    background-color: blue;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}